extends layout

block content
  h1 #{title}
  .error
  .owl-carousel
    .item
        img(src='./images/owl1.jpg')
    .item
        img(src='./images/owl2.jpg')
    .item
        img(src='./images/owl3.jpg')
    .item
        img(src='./images/owl4.jpg')
    .item
        img(src='./images/owl5.jpg')
    .item
        img(src='./images/owl6.jpg')
    .item
        img(src='./images/owl7.jpg')
