doctype html
html
  head
    title= title
    meta(name='author', content='Tom Gabrysiak')
    - each asset in assets.main.css
      link(rel='stylesheet', href= asset)
  body
    block content

    - each asset in assets.main.js
      script(src= asset)